.header  { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-variant: small-caps;
           background-color: #799FD6; letter-spacing: 0.5em; text-align: center; padding: 20px; }
.title    { font-family: Arial, Helvetica, sans-serif; font-size: 20pt; }
table     { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
body      { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
A:link    { color: #799FD6; }
A:visited { color: #799FD6; }
A:hover   { color: #DD0000; }
TD.rec    { font-size: large; font-weight: bold; text-align: center; }
TD.ctr    { text-align: center; }
TH        { background-color: navy; color: white; font-weight: bold; }
